.container {
  padding: 24px;
}

.name {
  font-size: 32px;
  color: #596de4;
  margin: 0;
}

.imgWrapper {
  display: flex;
}

.image {
  width: 200px;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-size: 24px;
  text-align: center;
}

.nutorition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 12px;
}

.nutoritionTitle {
  text-align: left;
  font-size: 20px;
}

.nutoritionDetail {
  text-align: right;
  font-size: 20px;
}

.description {
  text-align: left;
  font-size: 20px;
}

.backButton {
  display: flex;
  text-align: left;
  padding: 0 20px;
}
