.container {
  padding: 0 28px;
}

.title {
  font-size: 32px;
  color: #596de4;
  text-align: left;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  color: #596de4;
  text-align: left;
}

.recommendation {
  position: relative;
  height: 200px;
}

.Image {
  width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  margin-inline-start: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eatButton {
  position: absolute;
  right: 8px;
  top: 120px;
}

.eatButton button {
  font-size: 20px;
}

.moreButton {
  text-align: right;
}

.dialogTitle {
  text-align: center;
  color: #d62525;
  font-size: 20px;
  font-weight: bold;
}

.dialogButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.dialogButton {
  margin: 4px 12px;
}

.enough {
  font-size: 20px;
  color: var(--error);
  text-align: center;
  margin: 0;
}
