.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  max-width: 400px;
  background-color: #e9edf0;
  position: relative;
  width: 100%;
  margin: auto;
}

#wrap_all path {
  fill: #fbff01;
  stroke: #f8c926;
  stroke-width: 2px;
  animation: svg 5s ease-in both infinite;
}

@keyframes svg {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  20% {
    stroke-dashoffset: 0;
  }
  30% {
    fill: transparent;
  }
  50% {
    fill: #111;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
